:root {
  --primary-color: steelblue;
  --secondary-color: white;
  --background-color: #eee;
  --text-color: #333;
  --border-width: 1px;
  --border-style: solid;
  --border-color: rgba(0, 0, 0, 0.2);
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 1rem;
  --padding-extra-small: 2px;
}

nav {
  background-color: var(--primary-color);
  padding: var(--padding-small);
}

nav a {
  color: var(--secondary-color);
  display: block;
  padding: var(--padding-medium);
}

h1 {
  color: var(--primary-color);
}

img {
  width: 150px;
  height: auto;
  border: var(--border-width) var(--border-style) var(--primary-color);
  padding: var(--padding-extra-small);
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0px;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: var(--border-width) var(--border-style) var(--border-color);
  padding: var(--padding-large);
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

footer {
  margin-top: 15px;
  border-top: var(--border-width) var(--border-style) var(--border-color);
  text-align: center;
}
